@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primaryColor: #dd1d56;
  --lightRed: #fff0f6;
  --whiteColor: #fff;
  --whiteLight: #d8e4e8;
  --darkenBlue: #0a152f;
  --colorTitre: #171717;
  --bgFond: #f8f8f8;
  --bgCard: #fff;
  --colorMuted: #8c8686;
  --colorBorder: #eef0f6;
  --colorBorderTr: #ebeef5;
  --redColor: #df5656;
  --greenColor: #44b6a1;
  --orangeColor: #dfa356;
  --boxShadowCard: 0 5px 18px rgba(179, 187, 204, 0.05);
  --boxShadowDropdown: rgba(179, 187, 204, 0.1) 0px 5px 24px 0px;
  --borderNone: none;
  --bgBadgeSuccess: #c1eae2;
  --bgBadgeDanger: #f7c0c0;
  --bgBadgeWarning: #f7e2c8;
  --bgBadgeGreen: #e6f7f0;
  --colorBadgeGreen: #40c18b;
  --bgBadgeRed: #fbeaea;
  --bgBadgePurple: #eee5f7;
  --bgBadgeOrange: #f9f0e8;
  --colorBadgeRed: var(--redColor);
  --borderRadius-6: 6px;
  --borderRadius-8: 8px;
  --borderRadius-12: 12px;
  --borderRadius-24: 24px;
  --borderRadius-50: 50px;
  --borderRadius-r-50: 50%;
  --borderRadius-r-100: 100%;
  --fnt-8: 8px;
  --fnt-10: 10px;
  --fnt-11: 11px;
  --fnt-12: 12px;
  --fnt-13: 13px;
  --fnt-14: 14px;
  --fnt-15: 15px;
  --fnt-16: 16px;
  --fnt-18: 18px;
  --fnt-20: 20px;
  --fnt-22: 22px;
  --fnt-24: 24px;
  --fnt-26: 26px;
  --fnt-28: 28px;
  --fnt-30: 30px;
  --fnt-32: 32px;
  --fnt-34: 34px;
  --fnt-36: 36px;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --transition-3: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  overflow-x: hidden;
  font-family: "Public Sans", sans-serif;
}

.global-div {
  min-height: 100vh;
}

.bg-primary {
  background-color: var(--primaryColor) !important;
}

.wrapper {
  min-height: 100vh;
  background: var(--whiteColor);
}

.btn {
  font-size: var(--fnt-14);
  border-radius: var(--borderRadius-8);
  transition: var(--transition-3);
}
.btn.btn-default {
  padding: 8px 12px;
}
.btn.btn-primary {
  background: var(--primaryColor);
  border-color: var(--primaryColor);
}
.btn.btn-white {
  background: var(--bgCard);
  color: var(--colorTitre);
  border-color: var(--bgCard);
}
.btn.btn-border {
  border: 1px solid var(--colorBorder);
}
.btn.btn-border:hover {
  border-color: var(--colorTitre);
}
.btn.btn-sm {
  font-size: var(--fnt-12);
}
.btn.btn-black {
  background: var(--colorTitre);
  color: var(--whiteColor);
  border-color: var(--colorTitre);
}
.btn.btn-light {
  background: var(--bgFond);
  color: var(--colorTitre);
  border: none;
}

a {
  text-decoration: none;
}

.fi {
  display: inline-flex;
  align-items: center;
}
.fi::before {
  line-height: inherit !important;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  position: relative;
  z-index: 1;
}
.avatar.md {
  width: 36px;
  height: 36px;
}
.avatar .icon-avatar {
  width: 100%;
  height: 100%;
  border-radius: var(--borderRadius-r-50);
  background: var(--bgFond);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--fw-600);
  font-size: var(--fnt-14);
  color: var(--colorTitre);
}
.avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

.dropdown-menu {
  padding: 15px 14px;
  border: var(--borderNone) !important;
  box-shadow: var(--boxShadowDropdown);
  border-radius: 12px !important;
  background: var(--bgCard);
}
.dropdown-menu.lg {
  min-width: 190px;
}
.dropdown-menu li.li-border {
  padding-top: 5px;
  margin-top: 5px;
  border-top: 1px solid var(--colorBorder);
}
.dropdown-menu .dropdown-item {
  padding: 5px 7px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--colorTitre);
  transition: 0.3s;
  border-radius: 8px;
}
.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item.active {
  background: var(--bgBtnLight);
  color: var(--primaryColor);
}

.card-table {
  border-color: var(--colorBorder);
  border-radius: var(--borderRadius-24);
  padding: 18px;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.0196078431);
}

.table tr {
  border: none !important;
  vertical-align: middle;
}
.table th {
  font-size: 14px;
  color: var(--colorTitre);
  padding: 12px 14px;
  font-weight: 500;
  white-space: nowrap;
  border-bottom: 1px dashed var(--colorBorderTr) !important;
  background: var(--bgTh);
}
.table td {
  border-bottom: 1px dashed var(--colorBorderTr);
  font-size: 14px;
  color: var(--colorMuted);
  padding: 12px 14px;
  white-space: nowrap;
  background: transparent;
}
.table .btn-table {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 8px;
  font-size: 12px;
  color: var(--colorMuted);
  background: var(--bgFond);
}
.table .btn-table:hover {
  color: var(--colorTitre);
}
.table .block-info-user-table .avatar-user-table {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
.table .block-info-user-table .avatar-user-table .name-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primaryColor);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  background: var(--variantPrimaryColor);
}
.table .block-info-user-table .avatar-user-table img {
  width: 100%;
  height: 100%;
  border-radius: var(--borderRadius-r-50);
  -o-object-fit: cover;
     object-fit: cover;
}
.table .block-info-user-table .content-info-user h6 {
  font-size: var(--fnt-14);
  color: var(--colorTitle);
}
.table .block-info-user-table .content-info-user p {
  font-size: var(--fnt-12);
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 6px 8px;
  font-weight: 500;
}
.badge.badge-success {
  background: var(--bgBadgeGreen);
  color: var(--colorBadgeGreen);
}
.badge.badge-danger {
  color: var(--colorBadgeRed);
  background: var(--bgBadgeRed);
}
.badge.badge-warning {
  color: var(--orangeColor);
  background: var(--bgBadgeOrange);
}
.badge.badge-purple {
  color: var(--purpleColor);
  background: var(--bgBadgePurple);
}

.border-end {
  border-color: var(--colorBorder) !important;
}

hr {
  border-top-color: var(--colorBorder);
  opacity: 0.6;
}

.tooltip-indicator {
  position: absolute;
  padding: 7px 14px;
  border-radius: var(--borderRadius-8);
  background: rgba(0, 0, 0, 0.9);
  color: var(--whiteColor);
  font-size: var(--fnt-12);
  transition: var(--transition-3);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  white-space: nowrap;
  z-index: 100;
}
.tooltip-indicator.sm {
  padding: 2px 8px;
  font-size: var(--fnt-10);
}

.block-dashed-detail-pay {
  padding: 14px;
  border: 2px dashed var(--colorBorder);
  border-radius: var(--borderRadius-24);
}

.tooltip-hover {
  display: inline-flex;
  align-items: center !important;
  justify-content: center !important;
  position: relative;
}
.tooltip-hover:hover .tooltip-indicator {
  opacity: 1;
  visibility: visible;
}
.tooltip-hover[data-position-tooltip=top] .tooltip-indicator {
  bottom: 160%;
}
.tooltip-hover[data-position-tooltip=top] .tooltip-indicator.sm {
  bottom: 110%;
}
.tooltip-hover[data-position-tooltip=bottom] .tooltip-indicator {
  top: 160%;
}
.tooltip-hover[data-position-tooltip=left] .tooltip-indicator {
  left: 160%;
}
.tooltip-hover[data-position-tooltip=right] .tooltip-indicator {
  right: 160%;
}

.text {
  color: var(--colorTitre);
  font-size: var(--fnt-16);
}
.text.sm {
  font-size: var(--fnt-14);
}
.text.xm {
  font-size: var(--fnt-12);
}
.text.md {
  font-size: var(--fnt-20);
}
.text.lg {
  font-size: var(--fnt-24);
}
.text.xl {
  font-size: var(--fnt-28);
}
.text.muted {
  color: var(--colorMuted);
}

.content-page {
  margin-top: 60px;
}
.content-page.pl-320 {
  padding-left: 320px;
}

.card-content-info-product {
  border: none;
  border-radius: var(--borderRadius-24);
  padding: 0 34px;
}
.card-content-info-product .price {
  font-weight: var(--fw-600);
}
.card-content-info-product .btn-black:hover {
  background: var(--primaryColor);
  border-color: var(--primaryColor);
}
.card-content-info-product .like {
  width: 40px;
  height: 40px;
  border: 1px solid var(--colorBorder);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  border-radius: var(--borderRadius-8);
  color: var(--colorTitre);
  transition: var(--transition-3);
}
.card-content-info-product .like:hover {
  border-color: var(--colorTitre);
}
.card-content-info-product .like.liked {
  color: var(--whiteColor);
  background: var(--colorTitre);
  border-color: var(--colorTitre);
}
.card-content-info-product .block-quantity {
  border-radius: var(--borderRadius-8);
  padding: 8px;
  border: 1px solid var(--colorTitre);
  width: 120px;
}
.card-content-info-product .block-quantity .btn-action {
  padding: 0;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  font-size: var(--fnt-10);
  color: var(--colorTitre);
  transition: var(--transition-3);
  border: none;
}
.card-content-info-product .block-quantity .btn-action:hover {
  color: var(--colorTitre);
}
.card-content-info-product .block-quantity .form-control {
  height: 22px;
  border: none;
  box-shadow: none;
  font-size: var(--fnt-14);
  background: none;
}

.carousel-product .carousel-indicators {
  position: relative;
  margin: 0;
  inset: auto;
  height: 450px;
  justify-content: start;
  scrollbar-width: none;
  overflow-y: auto;
  flex: 0 0 auto;
}
.carousel-product .carousel-indicators button {
  text-indent: inherit;
  margin: 0;
  width: 70px;
  height: 70px;
  border: none;
  opacity: 1;
  flex: 0 0 auto;
}
.carousel-product .carousel-indicators button .content-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--borderRadius-8);
  background: var(--bgFond);
  border: 1px solid transparent;
}
.carousel-product .carousel-indicators button .content-img img {
  width: 40%;
}
.carousel-product .carousel-indicators button.active .content-img {
  border: 1px solid var(--colorTitre);
}

.block-select-boxs .select-box {
  position: relative;
}
.block-select-boxs .select-box span {
  border: 1px solid var(--colorBorder);
  border-radius: var(--borderRadius-8);
  padding: 6px 10px;
  font-size: var(--fnt-12);
  color: var(--colorTitre);
  transition: var(--transition-3);
  cursor: pointer;
  display: inline-flex;
}
.block-select-boxs .select-box:hover span {
  border-color: var(--colorTitre);
}
.block-select-boxs .select-box input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.block-select-boxs .select-box input:checked + span {
  background: var(--colorTitre);
  color: var(--whiteColor);
  border-color: var(--colorTitre);
}

.block-search-in-table {
  position: relative;
  display: flex;
  align-items: center;
}
.block-search-in-table .icon {
  position: absolute;
  color: var(--colorTitre);
  left: 14px;
  font-size: var(--fnt-14);
  transition: var(--transition-3);
  display: flex;
  align-items: center;
}
.block-search-in-table .form-control {
  padding-left: 38px;
  font-size: var(--fnt-14);
  color: var(--colorTitre);
  border-radius: var(--borderRadius-8);
  border-color: var(--colorBorder);
  box-shadow: none;
}
.block-search-in-table .form-control::-moz-placeholder {
  color: var(--colorMuted);
  opacity: 0.6;
}
.block-search-in-table .form-control::placeholder {
  color: var(--colorMuted);
  opacity: 0.6;
}
.block-search-in-table .form-control:focus {
  border-color: var(--colorTitre);
}

.navbar {
  background: rgba(255, 255, 255, 0.937254902);
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  padding: 0;
  border-bottom: 1px solid var(--colorBorder);
  position: relative;
  z-index: 1;
}
.navbar .info-location p {
  font-size: var(--fnt-12);
  color: var(--colorMuted);
}
.navbar .info-location h6 {
  font-size: var(--fnt-14);
  color: var(--colorTitre);
}
.navbar .logo-app {
  padding: 10px 0;
  width: 100%;
  border-right: 1px solid var(--colorBorder);
}
.navbar .logo-app img {
  width: 130px;
}
.navbar .content-nav-center .content-location {
  padding: 4px 7px;
  border-radius: var(--borderRadius-8);
  font-size: var(--fnt-12);
  color: var(--whiteColor);
  background: var(--colorTitre);
  cursor: pointer;
  flex: 0 0 auto;
}
.navbar .content-nav-center p {
  font-weight: var(--fw-600);
  font-size: var(--fnt-14);
  color: var(--colorTitre);
}
.navbar .content-nav-center .content-search {
  position: relative;
}
.navbar .content-nav-center .content-search .form-bg {
  background: var(--bgFond);
  border: none;
  border-radius: var(--borderRadius-8);
  font-size: var(--fnt-14);
  color: var(--colorTitre);
  height: 42px;
  padding-left: 16px;
  position: relative;
  z-index: 1;
}
.navbar .content-nav-center .content-search .form-bg:focus {
  border: none;
  box-shadow: none;
}
.navbar .content-nav-center .content-search .form-bg:focus + .block-show-result-search {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}
.navbar .content-nav-center .content-search .icon-search {
  position: absolute;
  color: var(--colorTitre);
  font-size: var(--fnt-16);
  right: 20px;
  transition: var(--transition-3);
  z-index: 1;
}
.navbar .content-nav-center .content-search .block-show-result-search {
  position: absolute;
  width: 105%;
  background: var(--whiteColor);
  box-shadow: var(--boxShadowDropdown);
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--borderRadius-12);
  top: -10px;
  transition: 0.1s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding-top: 60px;
}
.navbar .content-nav-center .content-search .block-show-result-search p {
  font-size: var(--fnt-14);
  font-weight: normal;
  color: var(--colorMuted);
}
.navbar .content-nav-center .content-search .block-show-result-search .list-result {
  list-style: none;
  margin-bottom: 0;
  padding: 0 24px;
  padding-bottom: 14px;
  min-height: 120px;
  max-height: 170px;
  overflow-y: auto;
  scrollbar-width: thin;
}
.navbar .content-nav-center .content-search .block-show-result-search .list-result li a {
  color: var(--colorMuted);
  font-size: var(--fnt-14);
  display: inline-flex;
  padding: 4px 0;
}
.navbar .content-nav-center .content-search .block-show-result-search .list-result li a:hover {
  color: var(--colorTitre);
}
.navbar .content-nav-center .content-search .block-show-result-search .block-search-recent {
  padding: 0 24px;
}
.navbar .content-nav-center .content-search .block-show-result-search .block-search-recent .item-block {
  display: inline-flex;
  align-items: center;
  border-radius: var(--borderRadius-24);
  background: var(--bgFond);
  padding-right: 6px;
  gap: 3px;
}
.navbar .content-nav-center .content-search .block-show-result-search .block-search-recent .item-block a {
  display: inline-block;
  max-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px 6px;
  padding-right: 0;
  font-size: var(--fnt-11);
  color: var(--colorTitre);
}
.navbar .content-nav-center .content-search .block-show-result-search .block-search-recent .item-block .btn {
  padding: 0;
  font-size: 6px;
}
.navbar .content-nav-right {
  padding: 10px 0;
  border-left: 1px solid var(--colorBorder);
}
.navbar .link-icon {
  color: var(--colorTitre);
  font-size: var(--fnt-18);
  transition: var(--transition-3);
  position: relative;
}
.navbar .link-icon .indice {
  position: absolute;
  top: -3px;
  right: -5px;
  background: var(--colorTitre);
  color: var(--whiteColor);
  width: 16px;
  height: 16px;
  border-radius: var(--borderRadius-r-50);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fnt-8);
  font-weight: var(--fw-600);
}
.navbar .link-icon:hover {
  color: var(--primaryColor);
}

.block-search-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--whiteColor);
  z-index: 2000;
  transition: var(--transition-3);
  transform: translateY(100%);
}
.block-search-mobile .navSearch {
  padding: 10px 0;
  border-bottom: 1px solid var(--colorBorder);
  background: rgba(255, 255, 255, 0.937254902);
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  position: relative;
}
.block-search-mobile .close-block-search-mobile {
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fnt-14);
  cursor: pointer;
}
.block-search-mobile .body {
  flex-grow: 1;
  overflow-y: auto;
}
.block-search-mobile.show {
  transform: translateY(0);
}

.content-search-lg .form-bg {
  background: var(--bgFond);
  border: none;
  border-radius: var(--borderRadius-12);
  font-size: var(--fnt-14);
  color: var(--colorTitre);
  height: 42px;
  padding-left: 16px;
}
.content-search-lg .form-bg:focus {
  border: none;
  box-shadow: none;
}
.content-search-lg .form-bg:focus + .icon-search {
  color: var(--primaryColor);
}
.content-search-lg .icon-search {
  position: absolute;
  color: var(--colorTitre);
  font-size: var(--fnt-16);
  right: 20px;
  transition: var(--transition-3);
}

.nav-category {
  background: rgba(255, 255, 255, 0.937254902);
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  padding: 0;
  border-bottom: 1px solid var(--colorBorder);
}
.nav-category .list-category {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  overflow-x: auto;
  scrollbar-width: none;
}
.nav-category .list-category li a {
  display: inline-flex;
  padding: 12px 18px;
  font-size: var(--fnt-14);
  color: var(--colorTitre);
  align-items: center;
  justify-content: center;
  transition: var(--transition-3);
  position: relative;
  white-space: nowrap;
}
.nav-category .list-category li a::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: var(--primaryColor);
  border-radius: 100%;
  bottom: 4px;
  display: none;
}
.nav-category .list-category li a:hover {
  color: var(--primaryColor);
}
.nav-category .list-category li a.active {
  font-weight: var(--fw-500);
  color: var(--primaryColor);
}
.nav-category .list-category li a.active::before {
  display: block;
}

.icon-widget {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: var(--borderRadius-12);
  color: var(--whiteColor);
  font-size: var(--fnt-20);
  overflow: hidden;
}
.icon-widget.sm {
  width: 34px;
  height: 34px;
  font-size: var(--fnt-14);
}
.icon-widget.green {
  background: #44b6a1;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 6px 8px;
  font-weight: 500;
  border-radius: var(--borderRadius-8);
}
.badge.badge-success {
  background: var(--bgBadgeSuccess);
  color: var(--greenColor);
}
.badge.badge-danger {
  background: var(--bgBadgeDanger);
  color: var(--redColor);
}
.badge.bagde-warning {
  background: var(--bgBadgeWarning);
  color: var(--orangeColor);
}
.badge.bagde-light {
  background: var(--bgFond);
  color: var(--colorTitre);
}

.text-primary {
  color: var(--primaryColor) !important;
}

.banner .content-banner {
  width: 98%;
  background: var(--bgBadgeDanger);
  border-radius: var(--borderRadius-24);
  height: 370px;
  padding: 10px 0;
  padding-bottom: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.banner .content-banner .title-banner {
  color: var(--whiteColor);
  font-size: 48px;
}
.banner .content-banner .title-banner span {
  font-weight: 600;
}
.banner .content-banner p {
  color: var(--whiteColor);
}
.banner .content-banner .content-banner-right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.banner .content-banner .content-banner-right .circle {
  display: none;
  position: absolute;
  z-index: -1;
  width: 370px;
  height: 370px;
  border: 30px solid var(--whiteColor);
  border-radius: 100%;
  opacity: 0.5;
}
.banner .content-banner .content-banner-right img {
  width: 320px;
}

.title-block {
  font-size: var(--fnt-22);
  color: var(--colorTitre);
}

.link {
  color: var(--primaryColor);
  font-size: var(--fnt-14);
  transition: var(--transition-3);
  font-weight: var(--fw-600);
}
.link:hover {
  color: var(--primaryColor);
}

.slide-category {
  padding: 30px 0;
}
.slide-category h2 {
  font-size: var(--fnt-24);
}
.slide-category .content-category {
  scroll-behavior: smooth;
  flex-wrap: wrap;
  justify-content: center;
}
.slide-category .content-category .idem-category {
  position: relative;
  flex: 0 0 auto;
  cursor: pointer;
  background: var(--bgFond);
  padding: 6px;
  border-radius: var(--borderRadius-50);
  transition: var(--transition-3);
}
.slide-category .content-category .idem-category:hover {
  background: var(--colorTitre);
}
.slide-category .content-category .idem-category:hover .title-category h3 {
  color: var(--whiteColor);
}
.slide-category .content-category .idem-category .img-category {
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: var(--borderRadius-r-50);
}
.slide-category .content-category .idem-category .title-category h3 {
  font-size: var(--fnt-12);
  color: var(--colorTitre);
  transition: var(--transition-3);
  font-weight: var(--fw-600);
}

.block-product-slide {
  padding: 30px 0;
}
.block-product-slide .btn-scroll-block {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: var(--borderRadius-50);
  background: var(--whiteColor);
  color: var(--colorTitre);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}
.block-product-slide .btn-scroll-block:hover {
  background: var(--colorTitre);
  color: var(--whiteColor);
}
.block-product-slide .btn-scroll-block.btn-scroll-block-left {
  left: 20px;
}
.block-product-slide .btn-scroll-block.btn-scroll-block-right {
  right: 20px;
}
.block-product-slide .content-product {
  overflow: hidden;
  overflow-x: auto;
  scrollbar-width: none;
}
.block-product-slide .content-product .item-product {
  background: var(--bgFond);
  padding: 18px;
  border-radius: var(--borderRadius-24);
  width: 220px;
  min-height: 270px;
  flex: 0 0 auto;
  transition: var(--transition-3);
}
.block-product-slide .content-product .item-product:hover {
  transform: scale(1.05);
}
.block-product-slide .content-product .item-product .content-img {
  height: 140px;
}
.block-product-slide .content-product .item-product .like {
  width: 32px;
  height: 32px;
  background: var(--whiteColor);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--borderRadius-50);
  color: var(--colorTitre);
  margin-left: auto;
}
.block-product-slide .content-product .item-product .name-article h5 {
  color: var(--colorTitre);
  font-size: var(--fnt-15);
}
.block-product-slide .content-product .item-product .name-article p {
  color: var(--colorMuted);
  font-size: var(--fnt-14);
}
.block-product-slide .content-product .item-product .price {
  color: var(--colorTitre);
  font-size: var(--fnt-14);
  font-weight: var(--fw-700);
}
.block-product-slide .content-product .item-product .btn-cart {
  padding: 0;
  width: 34px;
  height: 34px;
  border-radius: var(--borderRadius-12);
  background: var(--colorTitre);
  border: none;
  color: var(--whiteColor);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fnt-14);
}
.block-product-slide .content-product .item-product .btn-cart:hover {
  background: var(--primaryColor);
}

.block-content-img-product {
  background: var(--bgFond);
  border-radius: var(--borderRadius-24);
  padding: 20px;
  width: 100%;
  min-height: 450px;
}
.block-content-img-product img {
  width: 60%;
}

.breadcrumb li {
  font-size: var(--fnt-12);
}
.breadcrumb li.active {
  color: var(--colorMuted);
}
.breadcrumb li a {
  font-size: var(--fnt-12);
  color: var(--colorTitre);
}

.footer-page {
  background: var(--bgCard);
}
.footer-page .content-footer {
  border-top: 1px solid var(--colorBorder);
  padding: 30px 0;
}
.footer-page .content-footer .title-footer {
  font-size: var(--fnt-18);
  color: var(--colorTitre);
}
.footer-page .content-footer .list-link-footer {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.footer-page .content-footer .list-link-footer li {
  padding: 3px 0;
}
.footer-page .content-footer .list-link-footer li a {
  color: var(--colorMuted);
  font-size: var(--fnt-14);
  transition: var(--transition-3);
}
.footer-page .content-footer .list-link-footer li a:hover {
  color: var(--colorTitre);
}
.footer-page .footer-bottom {
  padding: 10px 0;
  background: var(--bgFond);
}
.footer-page .footer-bottom p {
  color: var(--colorTitre);
  font-size: var(--fnt-12);
}
.footer-page .footer-bottom h6 {
  font-size: var(--fnt-14);
  color: var(--colorTitre);
}
.footer-page .footer-bottom .link-network {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: var(--borderRadius-r-50);
  background: var(--colorTitre);
  color: var(--whiteColor);
}

.text-muted {
  color: var(--colorMuted);
}

.text-sm {
  font-size: var(--fnt-14);
}

.block-login {
  position: relative;
  z-index: 1;
}
.block-login .card-login {
  border-color: var(--colorBorder);
  border-radius: var(--borderRadius-24);
  padding: 28px;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.0196078431);
}
.block-login .card-login h1 {
  color: var(--colorTitre);
  font-size: var(--fnt-26);
  font-weight: var(--fw-600);
}
.block-login .card-login .icon-input {
  position: absolute;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  background: var(--bgFond);
  right: 10px;
  cursor: pointer;
  font-size: var(--fnt-14);
  color: var(--colorMuted);
  transition: var(--transition-3);
}
.block-login .card-login .icon-input:hover {
  color: var(--colorTitre);
}
.block-login .card-login .label-black {
  font-weight: var(--fw-600);
  font-size: var(--fnt-12);
}
.block-login .card-login .form-control {
  background: var(--bgFond);
  border: none;
  padding-left: 14px;
  box-shadow: none;
  font-size: var(--fnt-14);
  color: var(--colorTitre);
  border-radius: var(--borderRadius-8);
}
.block-login .card-login .form-control::-moz-placeholder {
  color: var(--colorMuted);
  opacity: 0.6;
}
.block-login .card-login .form-control::placeholder {
  color: var(--colorMuted);
  opacity: 0.6;
}
.block-login .card-login input, .block-login .card-login .btn-lg {
  height: 42px;
}
.block-login .card-login .link {
  color: var(--colorTitre);
  font-size: var(--fnt-13);
}
.block-login .card-login .link:hover {
  color: var(--primaryColor);
}
.block-login .card-login .link-login-network {
  width: 40px;
  height: 40px;
  border: 1px solid var(--colorBorder);
  border-radius: var(--borderRadius-r-50);
  transition: var(--transition-3);
}
.block-login .card-login .link-login-network:hover {
  background: var(--bgFond);
  border-color: transparent;
}
.block-login .card-login .link-login-network img {
  width: 20px;
}

.block-favoris {
  padding: 30px 0;
}

.list-nav-filter {
  list-style: none;
  padding-left: 0;
  overflow-x: auto;
  scrollbar-width: none;
}
.list-nav-filter li a {
  font-size: var(--fnt-14);
  color: var(--colorMuted);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  transition: var(--transition-3);
  position: relative;
  white-space: nowrap;
}
.list-nav-filter li a:hover {
  color: var(--colorTitre);
}
.list-nav-filter li a::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  background: var(--colorTitre);
  bottom: 0;
  border-radius: var(--borderRadius-8);
  display: none;
}
.list-nav-filter li a.active {
  color: var(--colorTitre);
  font-weight: var(--fw-500);
}
.list-nav-filter li a.active::before {
  display: block;
}

.card-product {
  border: none;
  border-radius: var(--borderRadius-24);
  background: var(--bgFond);
  transition: var(--transition-3);
  transform: scale(1);
  will-change: transform;
  height: 100%;
}
.card-product:hover {
  transform: scale(1.05);
}
.card-product.sm {
  padding: 14px;
  border-radius: 18px;
}
.card-product.sm .content-img {
  height: 140px;
}
.card-product.sm .name-article h5 {
  font-size: var(--fnt-14);
}
.card-product.sm .name-article p {
  color: var(--colorMuted);
  font-size: var(--fnt-12);
}
.card-product.sm .price {
  color: var(--colorTitre);
  font-size: var(--fnt-13);
  font-weight: var(--fw-700);
}
.card-product.sm .btn-cart {
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: var(--borderRadius-8);
  background: var(--colorTitre);
  border: none;
  color: var(--whiteColor);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fnt-14);
}
.card-product.sm .btn-cart:hover {
  background: var(--primaryColor);
}
.card-product.sm .like {
  width: 24px;
  height: 24px;
  background: var(--whiteColor);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--borderRadius-50);
  color: var(--colorTitre);
  font-size: var(--fnt-14);
  margin-left: auto;
}
.card-product.sm .like.liked {
  color: var(--primaryColor);
}

.offcanvas {
  border: none !important;
}
.offcanvas .offcanvas-header {
  border-bottom: 1px solid var(--colorBorder);
}
.offcanvas .offcanvas-header .offcanvas-title {
  color: var(--colorTitre);
  font-size: var(--fnt-18);
}
.offcanvas .offcanvas-header .btn-close {
  background-image: none;
  box-shadow: none;
  background: var(--bgFond);
  width: 28px;
  height: 28px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fnt-12);
  opacity: 1;
  color: var(--colorMuted);
}
.offcanvas .offcanvas-header .btn-close:hover {
  color: var(--colorTitre);
}
.offcanvas .offcanvas-footer {
  padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
  border-top: 1px solid var(--colorBorder);
}

.card-cart {
  background: var(--bgFond);
  border: none;
  border-radius: var(--borderRadius-24);
  padding: 14px;
}
.card-cart:hover .btn-remove-in-cart {
  opacity: 1;
}
.card-cart .block-img {
  height: 70px;
}
.card-cart .btn-remove-in-cart {
  background: var(--colorTitre) !important;
  width: 18px;
  height: 18px;
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fnt-8);
  color: var(--whiteColor) !important;
  border-radius: var(--borderRadius-r-50);
  left: -1px;
  top: -1px;
  transition: var(--transition-3);
  opacity: 0;
  padding: 0;
  border: none;
}
.card-cart .block-info-article h6 {
  font-size: var(--fnt-14);
  color: var(--colorTitre);
}
.card-cart .block-info-article p {
  color: var(--colorMuted);
  font-size: var(--fnt-12);
}
.card-cart .block-info-article .price {
  color: var(--colorTitre);
  font-size: var(--fnt-13);
  font-weight: var(--fw-700);
}
.card-cart .block-quantity {
  border-radius: var(--borderRadius-8);
  padding: 4px;
  border: 1px solid var(--colorTitre);
}
.card-cart .block-quantity .btn-action {
  padding: 0;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  font-size: var(--fnt-10);
  color: var(--colorTitre);
  transition: var(--transition-3);
  border: none;
}
.card-cart .block-quantity .btn-action:hover {
  color: var(--colorTitre);
}
.card-cart .block-quantity .form-control {
  height: 22px;
  border: none;
  box-shadow: none;
  font-size: var(--fnt-12);
  background: none;
}

.tabBar {
  background: rgba(255, 255, 255, 0.937254902);
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  border-top: 1px solid var(--colorBorder);
  width: 100%;
  left: 0;
  bottom: 0;
}
.tabBar .content-tab {
  padding: 8px 14px;
}
.tabBar .content-tab .link-tab {
  flex: 1;
}
.tabBar .content-tab .link-tab span {
  color: var(--colorMuted);
  font-size: var(--fnt-10);
}
.tabBar .content-tab .link-tab .icon {
  position: relative;
}
.tabBar .content-tab .link-tab .icon .indice {
  position: absolute;
  top: -3px;
  right: -5px;
  background: var(--colorTitre);
  color: var(--whiteColor);
  width: 16px;
  height: 16px;
  border-radius: var(--borderRadius-r-50);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fnt-8);
  font-weight: var(--fw-600);
}
.tabBar .content-tab .link-tab.active span {
  color: var(--colorTitre);
}
.tabBar .content-tab .link-tab.active .fi {
  color: var(--primaryColor);
}
.tabBar .content-tab .link-tab .fi {
  color: var(--colorMuted);
  font-size: var(--fnt-18);
}

.sidebar-category {
  position: sticky;
  border-right: 1px solid var(--colorBorder);
  height: calc(100vh - 60px);
  margin-top: -220px;
  top: 60px;
}
.sidebar-category .header {
  padding: 14px;
}
.sidebar-category .body {
  padding: 14px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.block-content-category {
  padding: 12px 0;
  border-bottom: 1px solid var(--colorBorder);
}
.block-content-category:first-child {
  padding-top: 0;
}
.block-content-category:last-child {
  border-bottom: none;
}
.block-content-category .img-categoty {
  width: 36px;
  height: 36px;
  border-radius: var(--borderRadius-r-50);
}
.block-content-category .img-categoty img {
  border-radius: inherit;
}
.block-content-category h5 {
  font-size: var(--fnt-15);
}
.block-content-category .block-link-category {
  list-style: none;
  margin-bottom: 0;
}
.block-content-category .block-link-category li a {
  display: inline-flex;
  width: 100%;
  font-size: var(--fnt-14);
  padding: 4px 0;
  color: var(--colorMuted);
  transition: var(--transition-3);
  position: relative;
  align-items: center;
}
.block-content-category .block-link-category li a span {
  font-size: var(--fnt-11);
}
.block-content-category .block-link-category li a:hover, .block-content-category .block-link-category li a.active {
  color: var(--colorTitre);
}
.block-content-category .block-link-category li a::before {
  width: 5px;
  height: 5px;
  position: absolute;
  content: "";
  left: -10px;
  background: var(--primaryColor);
  border-radius: var(--borderRadius-6);
  display: none;
}
.block-content-category .block-link-category li a.active::before {
  display: block;
}

@media (max-width: 576px) {
  .navbar .logo-app {
    border-right: none;
    padding: 12px 0;
  }
  .navbar .logo-app img {
    width: 28px;
  }
  .navbar .content-nav-right {
    padding: 12px 0;
    border-left: none;
  }
  .navbar .link-icon .indice {
    top: -3px;
    right: -5px;
  }
  .banner .content-banner {
    height: 120px;
    padding: 10px 0;
    width: 98%;
  }
  .banner .content-banner .title-banner {
    font-size: 18px;
    font-weight: 600;
  }
  .banner .content-banner p {
    color: var(--whiteColor);
    font-size: var(--fnt-10);
    display: none;
  }
  .banner .content-banner .btn {
    font-size: var(--fnt-10);
  }
  .banner .content-banner .content-banner-right img {
    width: 110px;
  }
  .slide-category {
    padding: 20px 0;
  }
  .slide-category h2 {
    font-size: var(--fnt-16);
  }
  .slide-category .content-category {
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: none;
  }
  .slide-category .content-category .idem-category {
    padding: 4px;
  }
  .slide-category .content-category .idem-category .img-category {
    width: 34px;
    height: 34px;
    overflow: hidden;
  }
  .slide-category .content-category .idem-category .title-category h3 {
    font-size: var(--fnt-12);
  }
  .block-product-slide {
    padding: 20px 0;
  }
  .block-product-slide .content-product .item-product {
    padding: 14px;
    width: 180px;
    min-height: 250px;
    border-radius: 18px;
  }
  .block-product-slide .content-product .item-product:hover {
    transform: scale(1.05);
  }
  .block-product-slide .content-product .item-product .content-img {
    height: 100px;
  }
  .block-product-slide .content-product .item-product .like {
    width: 28px;
    height: 28px;
    font-size: var(--fnt-14);
  }
  .block-product-slide .content-product .item-product .name-article h5 {
    font-size: var(--fnt-12);
  }
  .block-product-slide .content-product .item-product .name-article p {
    font-size: var(--fnt-10);
  }
  .block-product-slide .content-product .item-product .price {
    font-size: var(--fnt-13);
  }
  .block-product-slide .content-product .item-product .btn-cart {
    width: 32px;
    height: 32px;
    border-radius: var(--borderRadius-8);
    font-size: var(--fnt-16);
    background: var(--primaryColor);
  }
  .title-block {
    font-size: var(--fnt-18);
  }
  .link {
    font-size: var(--fnt-12);
  }
  .list-nav-filter {
    list-style: none;
    scrollbar-width: none;
    overflow-x: auto;
  }
  .list-nav-filter li a {
    font-size: var(--fnt-13);
    white-space: nowrap;
  }
  .nav-category .list-category {
    overflow-x: auto;
    scrollbar-width: none;
  }
  .nav-category .list-category li a {
    font-size: var(--fnt-13);
  }
  .card-product.sm {
    padding: 14px;
    border-radius: 18px;
  }
  .card-product.sm .content-img {
    height: 100px;
  }
  .card-product.sm .name-article h5 {
    font-size: var(--fnt-14);
  }
  .card-product.sm .name-article p {
    color: var(--colorMuted);
    font-size: var(--fnt-12);
  }
  .card-product.sm .price {
    color: var(--colorTitre);
    font-size: var(--fnt-13);
    font-weight: var(--fw-700);
  }
  .card-product.sm .btn-cart {
    padding: 0;
    width: 30px;
    height: 30px;
    background: var(--primaryColor);
  }
}/*# sourceMappingURL=app.css.map */